.loginInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    padding:10px;
    
}

.loginInfo label{
    text-align: right;
}

.loginInfo * {
    margin:2px;
}

#status{
    text-align: center;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    gap:5px;
    padding:5px;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

tr:nth-child(odd) {
    background-color: rgb(208, 222, 231);
}

table {
    margin: auto;
    width: 100%;
    font-size: smaller;
    text-align: center;
}

table button {
    width: 100%;
}
table input[type="text"], table input[type="number"]{
    width: 100px;
}